.container{
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(16, 2em);
    grid-template-rows: repeat(16, 2em);
}
.gridBox{
    margin:0px;
    border: 1px solid black;    
}